body {
    background-color: rgb(235, 228, 228)181, 181);
    padding: 5%;
  }
  /* google font */
  h1 {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 5%;
      font-size: 200px;
  }
  p.groove {border-style: groove;}

h1.groove {
    border-style: groove;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  .thick-green-border {
    border-color: red;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }
  #left {
    float: left;
          width: 40%;
          color: whitesmoke;
          font-size: large;
          padding-top: 50px;
        
          
        }
        #right {
    float: left;
          width: 40%;
          color: whitesmoke;
          padding-top: 50px;
          padding-bottom: 150px;
          font-size: large;
        

        }
        aside, section {
          padding: 0 5%;
          background-color: rgb(233, 45, 45);
          margin : 5%;

          
        }
        table, th, td {
          border: 3px groove rgb(201, 49, 49);
          padding-left: 5%;
          margin-left: 5%;
          margin-right: 5%;
        }
.thick-gold-border{
  border-color:red;
    border-width: 10px;
    border-style: groove;
}

 .thick-yellow-border{
  border-color: red;
  border-width: 20px;
  border-style: groove;
 }       

 footer {
   color: white;
   font-size: x-large;
   margin: 5%;
   background-color: black;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 p {
font-size: large;
 }
 
 h4 {
   font-size: larger;
 }